:root {
	--_clr-primary: #666;
	--_clr-hover: #f11d1d;
	--_clr-checked: #127acf;
}

p {
	margin-bottom: 6px;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#preview {
	border: 1px solid #444;
}

.flexrow {
	display: flex;
}

.flexrow > div {
	margin: 0px 1em 2em 0em;
}

.hidden {
	visibility: hidden;
}

.my-form > div {
	--_clr-current: var(--_clr-primary);
	margin-top: 3px;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.my-form > div + div {
	margin-block-start: 0.5rem;
}
.my-form label {
	cursor: pointer;
	color: var(--_clr-current);
	transition: color 150ms ease-in-out;
}

input[type="number"], input[type="text"]  {
	all: unset;
	transition: border-color 150ms ease-in-out;
	transition: filter 150ms ease-in-out;
	color:black;
	padding-left: 3px;
	background-color: #DDDDDD;
	border: 1.5px solid #0075ff;
	border-radius: 5px;
}
input[type="range"] {
transition: accent-color 150ms ease-in-out;
accent-color: var(--_clr-checked);
transition: filter 150ms ease-in-out;
}

input[type="range"]:hover {
accent-color: var(--_clr-hover);
filter: drop-shadow(2px 4px 6px var(--_clr-hover));
}

input[type="range"]:focus {
	accent-color: var(--_clr-checked);
	filter: drop-shadow(2px 4px 6px var(--_clr-checked));
}

button {
	background-color: #DDDDDD;
	border: 1.5px solid #0075ff;
	border-radius: 5px;
	transition: border-color 150ms ease-in-out;
}

button:hover {
	border-color: var(--_clr-hover);
		
}

input[type="number"]:hover, input[type="text"]:hover {
    filter: drop-shadow(2px 4px 6px var(--_clr-hover));
	border-color: var(--_clr-hover);
}

input[type="number"]:focus, input[type="text"]:focus  {
	transition: border-color 150ms ease-in-out;
	border-color: var(--_clr-checked);
	filter: drop-shadow(2px 4px 6px var(--_clr-checked));
}

/* styled checkbox */
input[type="checkbox"] {
	appearance: none;
	outline: none;
	width: 1.5rem;
	height: 1.5rem;
	aspect-ratio: 1;
	padding: 0.25rem;
	background: transparent;
	border: 1px solid var(--_clr-current);
	border-radius: 2px;
	display: grid;
	place-content: center;
	cursor: pointer;
}
.my-form input[type="checkbox"]::after {
	content: "\2714";
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	color: var(--_clr-checked);
	font-size: inherit;
	font-family: inherit;
}

.my-form input[type="checkbox"]:focus-visible::after,
.my-form input[type="checkbox"]:hover::after {
	opacity: 0.5;
	color: var(--_clr-hover);
}

.my-form input[type="checkbox"]:checked + label:not(:hover),
.my-form input[type="checkbox"]:checked:not(:hover) {
	--_clr-current: var(--_clr-checked);
}
.my-form input[type="checkbox"]:checked::after {
	opacity: 1;
}
